In [4]:

import pandas as pd 
  
df = pd.read_excel("C:/Users/year3/Downloads/Lab Session Data.xlsx") 
print(df)

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...
5         NaN         NaN         NaN         NaN         NaN  ...
6         NaN         NaN         NaN         NaN         NaN  ...
7         NaN         NaN         NaN         NaN         NaN  ...
8         NaN         NaN         NaN         NaN         NaN  ...
9         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN
5          NaN          NaN    NaN    NaN   NaN
6          NaN          NaN    NaN    NaN   NaN
7          NaN          NaN    NaN    NaN   NaN
8          NaN          NaN    NaN    NaN   NaN
9          NaN          NaN    NaN    NaN   NaN

[10 rows x 22 columns]

In [7]:
df = pd.read_excel("C:/Users/year3/Downloads/Lab Session Data.xlsx") 
print(df)

matric_1=df.iloc[:,1:4]
matric_2=df.iloc[:,4]

print(matric_1)
print(matric_2)

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...
5         NaN         NaN         NaN         NaN         NaN  ...
6         NaN         NaN         NaN         NaN         NaN  ...
7         NaN         NaN         NaN         NaN         NaN  ...
8         NaN         NaN         NaN         NaN         NaN  ...
9         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN
5          NaN          NaN    NaN    NaN   NaN
6          NaN          NaN    NaN    NaN   NaN
7          NaN          NaN    NaN    NaN   NaN
8          NaN          NaN    NaN    NaN   NaN
9          NaN          NaN    NaN    NaN   NaN

[10 rows x 22 columns]
   Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2
5           22             1                 5
6           15             4                 2
7           18             4                 2
8           21             1                 4
9           16             2                 4
0    386
1    289
2    393
3    110
4    280
5    167
6    271
7    274
8    148
9    198
Name: Payment (Rs), dtype: int64

In [8]:
print(matric_1.shape[1])

3

In [11]:
print(matric_2.shape[0])

10

In [25]:
import numpy as np
m1=pd.DataFrame(matric_1)
m2=pd.DataFrame(matric_2)
a=m1.values
c=m2.values

print(np.linalg.matrix_rank(t1))
print(np.linalg.matrix_rank(t2))

3
1

In [24]:
a_inverse=np.linalg.pinv(t1)
print(a_inverse)

[[-0.01008596 -0.03124505  0.01013951  0.0290728   0.0182907   0.01161794
  -0.00771348  0.00095458  0.01743623 -0.00542016]
 [ 0.09059668  0.07263726  0.03172933 -0.09071908 -0.01893196 -0.06926996
   0.05675464  0.03152577 -0.07641966  0.00357352]
 [ 0.00299878  0.15874243 -0.05795468 -0.06609024 -0.06295043  0.03348017
   0.01541831 -0.01070461  0.00029003  0.05938755]]

In [23]:
x=m_1.dot(t2)
print(x)

[[ 1.]
 [55.]
 [18.]]

In [26]:
print(a)

[[20  6  2]
 [16  3  6]
 [27  6  2]
 [19  1  2]
 [24  4  2]
 [22  1  5]
 [15  4  2]
 [18  4  2]
 [21  1  4]
 [16  2  4]]

In [31]:
df['Class']=df['Payment (Rs)'].apply(lambda y: 'Rich' if y>200 else 'Poor')
print(df)

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...
5         NaN         NaN         NaN         NaN         NaN  ...
6         NaN         NaN         NaN         NaN         NaN  ...
7         NaN         NaN         NaN         NaN         NaN  ...
8         NaN         NaN         NaN         NaN         NaN  ...
9         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 18  Candy  Mango  Milk  Class
0          NaN    1.0   55.0  18.0   Rich
1          NaN    NaN    NaN   NaN   Rich
2          NaN    NaN    NaN   NaN   Rich
3          NaN    NaN    NaN   NaN   Poor
4          NaN    NaN    NaN   NaN   Rich
5          NaN    NaN    NaN   NaN   Poor
6          NaN    NaN    NaN   NaN   Rich
7          NaN    NaN    NaN   NaN   Rich
8          NaN    NaN    NaN   NaN   Poor
9          NaN    NaN    NaN   NaN   Poor

[10 rows x 23 columns]